<!DOCTYPE html>
<html lang="ja-JP">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="_csrf_header" content="${_csrf.headerName}">
	<meta name="_csrf_token" content="${_csrf.token}">
	<title>{{.title}}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
	<style>
		input[type=password]::-ms-reveal {
			display: none;
		}

		input[type=password]::-ms-clear {
			display: none;
		}

		input[type=password]::-o-clear {
			display: none;
		}

		form .inputBox ion-icon#eyeIcons {
			cursor: pointer;
			left: 220px;
		}

		form .inputBox ion-icon#eyeIcons2 {
			cursor: pointer;
			left: 220px;
		}
	</style>
	<script type="text/javascript" src="/static/jquery/jquery-3.7.1.min.js"></script>
	<script type="text/javascript" src="/static/layer/layer.js"></script>
</head>

<body>
	<div class="container">
		<!-- <p text="${torokuMsg eq null ? '' : torokuMsg}" id="torokuMsg" hidden></p>
		<p text="${resetMsg eq null ? '' : resetMsg}" id="resetMsg" hidden></p> -->
		<span></span>
		<span></span>
		<span></span>
		<form action="/category/doLogin" method="post" id="loginForm">
			<h2>ログイン</h2>
			<div class="inputBox">
				<ion-icon name="mail-outline"></ion-icon>
				<!-- <input type="text" value="${registeredEmail eq null ? '' : registeredEmail}" name="loginAcct"
					id="accountIpt" placeholder="アカウント" required> -->
				<input type="text" name="loginAcct" id="accountIpt" placeholder="アカウント" required>
			</div>
			<div class="inputBox">
				<ion-icon name="lock-closed-outline"></ion-icon>
				<ion-icon name="eye-outline" id="eyeIcons"></ion-icon>
				<input type="password" name="userPswd" id="passwordIpt" placeholder="パスワード" required>
			</div>
			<div class="rememberForget">
				<a href="#"><input type="checkbox" name="remember-me">私を記憶する</a>
				<a href="/category/forget/password">パスワード忘れ？</a>
			</div>
			<div class="inputBox">
				<input type="submit" value="ログイン" id="loginBtn">
			</div>
			<div class="inputBox group">
				<a href="#">アカウント無し? <b id="signup">登録</b></a>
			</div>
		</form>
		<form action="/category/toroku" method="post" id="signupForm">
			<h2>登録</h2>
			<div class="inputBox">
				<ion-icon name="mail-outline"></ion-icon>
				<input type="text" name="email" id="emailIpt" placeholder="メールアドレス" required>
			</div>
			<div class="inputBox">
				<ion-icon name="key-outline"></ion-icon>
				<ion-icon name="eye-outline" id="eyeIcons2"></ion-icon>
				<input type="password" name="password" id="passwordIpt1" placeholder="パスワード" required>
			</div>
			<div class="inputBox">
				<ion-icon name="key-outline"></ion-icon>
				<input type="password" name="password" id="passwordIpt2" placeholder="パスワード再入力" required>
			</div>
			<div class="inputBox">
				<ion-icon name="calendar-number-outline"></ion-icon>
				<input type="date" name="dateOfBirth" id="dateOfBirthIpt" required>
			</div>
			<div class="inputBox">
				<input type="submit" value="登録" id="torokuBtn">
			</div>
			<div class="inputBox group">
				<a href="#">すでにアカウント持ち? <b id="login">ログイン</b></a>
			</div>
		</form>
		<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	</div>
	<script type="text/javascript" src="/static/customizes/logintoroku.js"></script>
</body>

</html>